﻿@using WebViewModel.Models
@model List<Book>
<h2>List of Books</h2>
<ul>
    @foreach (Book book in Model)
    {
        <li><a asp-action="Details" asp-route-id="@book.Id">@book.Title</a></li>
    }
</ul>
